<?xml version="1.0"?>
<model>
  <name>minibox</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>
  <author>
    <name>cyberbanana777</name>
    <email>sashagrachev2005@gmail.com</email>
  </author>
  <description>
    Model of minibox from G210 RTU MIREA.
  </description>
</model>
